<form [formGroup]="loginForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" placeholder="Enter email..." formControlName="email"
      [ngClass]="{'invalid-control': loginForm.get('email')?.touched && loginForm.get('email')?.invalid}">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" placeholder="Enter password..." formControlName="password"
      [ngClass]="{'invalid-control': loginForm.get('password')?.touched && loginForm.get('password')?.invalid}">
  </div>
  <div class="btn-wrapper">
    <div class="col-sm-8 px-0">
      <button type="button" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="onLogin()">Login</button>
      <button type="button" class="btn btn-secondary ml-2" (click)="clearForm()">Cancel</button>
    </div>
    <div class="col-sm-4 px-0 text-right">
      <button type="button" class="btn btn-secondary" (click)="goToRegister()">Register</button>
    </div>
  </div>
</form>