$color-primary: #6400aa;
$color-white: #fff;
$color-red: #ff0000;
$color-light-grey: #d3d3d3;

// sizes
$size-1x: 1rem;
$size-2x: 2rem;
$size-0: 0;

// font sizes
$font-size-small-x: 0.75rem;
$font-size-small: 0.875rem;
$font-size-regular: 1rem;
$font-size-large: 1.25rem;
$font-size-large-x: 1.5rem;